[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coderedcms="==2.1.*"
wagtail="==4.2.*"
django-environ = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
whitenoise = "*"
django-redis = "*"
sentry-sdk = "*"
psycopg2-binary = "*"
{% if cookiecutter.sass %}
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
{% endif %}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
manage = "python manage.py"
server = "python manage.py runserver"
